---
title: Le Wagon Middleman boilerplate
---

<div id="banner" class="text-center">
    <div class="fleur hidden-xs hidden-sm"> <%= image_tag "fleur2.png" %> </div>
    <div class ="text-banner">
      <h1> Design Floral</h1>
      <h2 class="h2_ban">Fleuriste Décorateur Paris Evénementiel & Entreprises</h2>
      <h3>Paris & Antony</h3>
    </div>
</div>

  <!-- <a href="#map"><i class="fa fa-angle-down fa-6 pulse scroll-btn hidden-xs hidden-sm "></i></a>
</div> -->
  <!-- notre_histoire -->
  <div id="histoire">
    <div class="orchi hidden-xs hidden-sm"> <%= image_tag "orchidee.png" %> </div>

    <div class="text-center">
      <div class="container">

        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <h1 class="h1_hist"> Notre histoire </h1>

            <h2 class="h2_hist">« Une Histoire de Famille »</h2>
            <p class="mt30">
              Artisan Fleuriste Décorateur, Filipe Martins réunit aujourd’hui deux enseignes animées par une famille exerçant depuis 1999.
            </p>
            <h2 class="mt30">Nos implantations</h2>
            <p class="mt30">
              « Paris & Antony » <br>
              Au travers notre histoire & courbe d’expérience, nos implantations initialement situées à Arcueil (94) et Boulogne (92) ont laissé place au cours de l’année 2008 à deux enseignes situées sur Paris sud de manière à optimiser la proximité avec le marché international de Rungis offrant ainsi, à nos clients & partenaires, une véritable solution en matière de qualité & réactivité.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- <div id="newsletter" class="text-center wow fadeIn" data-wow-duration="1000ms" data-wow-delay="500ms">
  <h2> Stay Connect</h2>
  <p> Laissez-nous votre mail</p>
  <form action='/' class="form-inline">
    <input type="email" class="form-control" placeholder="alex@gmail.com">
    <input type="submit" value"Go" class="btn btn-primary">
  </form>

  </div> -->



  <!-- Map -->
  <div id="map" style="width: 100%; height: 400px;"></div>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <script type="text/javascript">
    var myLatlng = new google.maps.LatLng(48.7563443,2.3025151);

    var myOptions = {
      zoom: 16,
      center: myLatlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}] // TODO: replace [] by array from https://snazzymaps.com/
    };

    var map = new google.maps.Map(document.getElementById('map'), myOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: "You are here!"
    });
    </script>
  </div>



    <!--<ul class="list-inline">
    <% data.products.each do |product| %>
      <li>
        <%= image_tag product.image_file, class: "img-circle" %>
        <p><%= product.content %></p>
      </li>
    <% end %>
    </ul> -->
  <div id="testimonials" class="padded">
    <div class="container text-center">
      <div class="row">
        <% data.products.each do |product| %>
          <div class="col-xs-12 col-sm-3 text-center">
          <div class="card">
            <%= image_tag product.image_file, class: "img-circle" %>
            <p><%= product.content %></p>
          </div>
          </div>
        <% end %>
      </div>
    </div>
    <a href="#banner"><i class="fa fa-arrow-up scroll-up"></i></a>
  </div>




  <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">C'est décidé, je pars ...</h4>
          </div>
          <div class="modal-body">
            <form action='/'>
              <div class="form-group">
                <label for="first-name">Ton Prénom: </label>
                <input type="name" class="form-control" id="first-name" placeholder="Martin">
              </div>
              <div class="form-group">
                <label for="last-name">Ton Nom: </label>
                <input type="name" class="form-control" id="last-name" placeholder="Dupond">
              </div>
              <div class="form-group">
                <label for="email">Ton E-mail: </label>
                <input type="email" class="form-control" id="email" placeholder="martin.dupond@gmail.com">
              </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Je souhaite avoir des informations rapidement car je souhaite partir tout de suite
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    Je souhaite partir dans les 3 mois.
                  </label>
                </div>
                <div class="radio disabled">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                    Je souhaite partir dans l'année
                  </label>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <script src='/js/scrollReveal.min.js'></script>
    <script>

      window.sr = new scrollReveal();

    </script>